<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BAUConnectionUmra" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=JMSUMRA;Password=devjms34;Data Source=umr1" />
    <add name="BAUConnectionHAJJ" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=JMSHAJ;Password=dev1435;Data Source=umr1" />

    <add name="BAUConnectionUmraPro" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=JMSUMRA;Password=soap1436;Data Source=alam1" />
    <add name="BAUConnectionHAJJPro" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=JMSHAJ;Password=jmshaj15;Data Source=alam1" />
  </connectionStrings>
  <appSettings>
      <add key="Email" value="noreply@alamiah.net" />
      <add key="Password" value="Bau123456" />
      <add key="SMTPEmail" value="smtp.gmail.com" />
      <add key="csMail" value="cs@alamiah.net" />
      <add key="ToKayali" value="kayali@alamiah.net" />
      <add key="ToFadel" value="fadel@alamiah.net" />
      <add key="ToSupport" value="support@alamiah.net" />
      <add key="ToAli" value="ali@alamiah.net" />
      <add key="CCKhalid" value="khalid@alamiah.net" />
      <add key="ToZahrani" value="alzhrany@alamiah.net" />
      <add key="ToOmar" value="omar@alamiah.net" />
      <add key="Schema_year" value="UMRA1442" />
      <add key="cur_year" value="1441" />
      <add key="previous_year" value="UMRA1441" />
	  <add key="label_pmofa" value="موفا 1441 " />
	  <add key="label_cmofa" value="موفا 1442 " />

</appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
